<launch>
  
  <!--arguments-->
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <!-- roslaunch turtlebot3_gazebo turtlebot3_empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- Spawn Turtlebot3 -->
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x) -y $(arg y) -z $(arg z_pos) -param robot_description" />


  <!--sensed object node -->
  <node name="sensed_object" pkg="assignment4" type="sensed_object.py" >
  </node>

  <!--drive robot node (Required is True)-->
  <node name="drive_robot" pkg="assignment4" type="drive_robot.py" required="true" >
  </node>

  <!--data reporter node -->
  <node name="data_reporter" pkg="assignment4" type="data_reporter.py" output="screen" launch-prefix="xterm -e">
  </node>

  <!--rqt node -->
  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" >
  </node>

</launch>